/* User Work */
#page{
    box-sizing: border-box;
    width: 1349px;
    height: 1400px;
    background-color: rgb(228, 228, 228);
    padding: 15px;
}
#logo{
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    background-color: rgb(236, 47, 47);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 100px;
}
#image-logo{
    width: 65px;
}
#image-mealPlanner{
    width: 400px;
}
#user-work{
    box-sizing: border-box;
    width: 100%;
    margin: 15px 0px 0px 0px;
    padding: 30px 100px 30px 100px;
    height: 1275px;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr;
    grid-gap: 50px;
}
#user-form{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

#inputType{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 100px;
    align-items: center;
}
#selectType{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 100px;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#height{
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    width: 200px;
}
#heightRed{
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    width: 200px;
    box-shadow: 0px 0px 5px 1px red;
}
#heightRed::placeholder{
    color: red;
}

#weight{
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    width: 200px;
}
#weightRed{
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    width: 200px;
    box-shadow: 0px 0px 5px 1px red;
}
#weightRed::placeholder{
    color: red;
}

#age{
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    width: 200px;
}
#ageRed{
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    width: 200px;
    box-shadow: 0px 0px 5px 1px red;
}
#ageRed::placeholder{
    color: red;
}

#gender{
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    width: 200px;
}
#genderRed{
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    width: 200px;
    color: red;
    box-shadow: 0px 0px 5px 1px red;
}

#activity-level{
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    width: 200px;
    text-overflow: ellipsis;
}
#activity-levelRed{
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    width: 200px;
    text-overflow: ellipsis;
    color: red;
    box-shadow: 0px 0px 5px 1px red;
}

#generate-meals-btn{
    border-radius: 15px;
    width: 200px;
    height: 40px;
    color: white;
    background-color: rgb(236, 47, 47);
    font-weight: 500;
}
#generate-meals-btn:active{
    background-color: rgb(180, 36, 36);
    font-size: 15px;
}

/* @media (max-width:950px) {
    #logo{
        padding: 0px;
        justify-content: center;
    }
    #user-work{
        padding: 6px 20px 6px 20px;
    }
    #inputType{
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
    }
    #selectType{
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
        margin: 5px;
    }
}
@media(max-width: 500px){
    #image-logo{
        display: none;
    }
}
@media(max-width: 410px){
    #user-work{
        padding: 5px 5px 5px 5px;
    }
    #image-logo{
        display: block;
    }
    #image-mealPlanner{
        display: none;
    }
}
@media(max-width:250px) {
    #page{
        display: inline;
    }
} */

/* Meals */
#meals{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    text-align: justify;
    /* background-color: rgb(49, 228, 228); */
}

.meal{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}
.mealType{
    color: rgb(236, 47, 47);
    font-size: large;
    font-weight: 500;
}
.mealDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 345px;
    height: 434px;
    padding-bottom: 20px;
    background-color: rgb(236, 47, 47);
    border-radius: 20px;
    border: 3px solid rgb(236, 47, 47);
}
.mealImage{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.mealTitle{
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: 500;
}
.mealCalories{
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.mealButton{
    height: 30px;
    width: 150px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: 500;
}
.mealButton:active{
    background-color: rgb(180, 36, 36);
    font-size: 15px;
}

/* Recipe */

.recipe{
    display: flex;
    justify-content: center;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
    box-shadow: 2px 2px 5px black;
}
.display{
    display: none;
}

#recipe::-webkit-scrollbar {
    display: none;
}
table{
    width: 80%;
    /* border: 2px solid; */
    line-height: 40px;
    letter-spacing: 1px;
}
thead{
    font-size: larger;
    color: rgb(236, 47, 47);
}
tbody{
    font-size: large;
    font-weight: 500;
}
td, th{
    width:80%;
}
.ingredients{
    text-transform: capitalize;
}
.equipment{
    text-transform: lowercase;
}